.experiencia__titulo{
    color: aliceblue;
    font-family: 'Aclonica', sans-serif;
    font-size: 65px;
    text-align: center;
}
.experiencia__quadro{
    padding: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
}
.experiencia__cartao{
    background: #BFDBF7;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 40% 60%;
    gap: 8px;
    align-content: space-evenly;
    justify-content: space-around;
    align-items: center;
    justify-items: center;
}

.experiencia__cartao-img{
    width: 50%;
    grid-row: span 2;
}
.experiencia__cartao-titulo{
    font-family: 'Advent Pro', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.experiencia__cartao-texto{
    font-family: 'Bellota', cursive;
    font-size: 20px;
    padding: 0 40px 40px 0;
}